@import "tailwindcss";

@keyframes matrix-flicker {
  0%,
  100% {
    opacity: 1;
    text-shadow: 0 0 8px #00ff41, 0 0 12px rgba(0, 255, 65, 0.5);
  }
  5% {
    opacity: 0.3;
  }
  10% {
    opacity: 1;
    text-shadow: 0 0 10px #00ff41, 0 0 15px rgba(0, 255, 65, 0.7);
  }
  40% {
    opacity: 0.8;
    text-shadow: 0 0 8px #00ff41;
  }
  50% {
    opacity: 1;
    text-shadow: 0 0 10px #00ff41, 0 0 13px rgba(0, 255, 65, 0.6);
  }
  60% {
    opacity: 0.5;
  }
  70% {
    opacity: 1;
    text-shadow: 0 0 9px #00ff41;
  }
  90% {
    opacity: 0.8;
  }
}

.animate-blink {
  animation: matrix-flicker 2s infinite ease-in-out;
  font-family: monospace;
  color: #00ff41;
}
